.pullLeft {
animation: pullleft 0.4s ease-out forwards
}
@keyframes pullleft{
    0%{
        transform: translateX(100%);
    } 
    100%{
        transform: translateX(0);
    }
}

.pullRight {
    animation: pullright 0.4s cubic-bezier(0.25, 0.1, 0.75, 1) forwards
}

@keyframes pullright{
    0%{
        transform: translateX(0);
    } 
    100%{
        transform: translateX(100%);
    }
}
